[tool.poetry]
name = "java-access-bridge-wrapper"
version = "0.11.0"
description = "Python wrapper for the Windows Java Access Bridge"
license = "Apache-2.0"
readme = "README.md"
authors = [
	"Robocorp <support@robocorp.com>",
]
repository = "https://github.com/robocorp/java-access-bridge-wrapper.git"

classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9"
]

packages = [
    { include = "JABWrapper", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.6.2"
pywin32 = { version = ">=300,<304", platform = "win32", python = "!=3.8.1,!=3.7.6" }

[tool.poetry.dev-dependencies]
flake8 = "^3.9.2"

[tool.poetry.scripts]
java_tree_reader = 'JABWrapper.context_tree_reader:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
